[AdaptiveTransparency]
enabled=false

[ContrastEffect]
contrast=0.2
enabled=false
intensity=2.0
saturation=1.7

[Desktop Entry]
Comment=amoled Plasma Theme
Name=amoled
Type=
X-KDE-PluginInfo-Author=bedtime
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=plasmashell
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=amoled-1
X-KDE-PluginInfo-Version=1.0.38
X-KDE-PluginInfo-Website=https://www.opencode.net/phosh/amoled-mobile
X-Plasma-API=5.0
