/* This file will automatically pull colour variables from your default gtk theme. You MUST have the .themes/phosh/* files installed for it to work! */

@define-color phosh_fg_color @fg;
@define-color phosh_bg_color @bg;

@define-color phosh_activity_bg_color @bg;
@define-color phosh_notification_bg_color @bg;
@define-color phosh_splash_bg_color @bg;
@define-color phosh_splash_fg_color @fg;

/* Button colors */
@define-color phosh_button_bg_color @bg;
@define-color phosh_button_active_bg_color @fg;
@define-color phosh_button_active_fg_color @bg;
@define-color phosh_button_hover_bg_color @fg;
@define-color theme_selected_bg_color @fg;


/*
 * Top panel bar
 */

* {
  border-radius: 0px;
  text-shadow: 0px 0px 1px @fg;
  font-family: "Larabiefont Free";
  -gtk-icon-shadow: 0px 0px 3px @fg;
  /* -gtk-icon-palette: @fg; */
  /* transition: 200ms ease;  */
/*  transition-property: foreground, backdrop, background, border, box-shadow;*/
}

/* button.titlebutton {
  min-height: 22px;
  min-width: 22px;
  padding: 0px;
} */

entry {
  margin: 0px;
  font-size: 21px;
  min-height: 15px;
  padding: 4px;
  color: @fg;
}

entry:focus {
  box-shadow: 0px 0px 0px @fg; }

phosh-top-panel {
  color: currentColor;
  color: @fg;
  background-color: @bg;
  border: 1px solid @fg;
}

/* Adjusts space around the wifi/bluetooth and date/date text */
.phosh-top-bar {
  margin-top: -5px;
  margin-bottom: 1px;
  margin-left: 8px;
  padding: 0px;
}

.phosh-wwan-indicator,
phosh-top-panel .indicators {
  font-weight: 400;
  font-feature-settings: "tnum";
}

.phosh-topbar-clock {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  font-feature-settings: "tnum"; }

phosh-top-panel .phosh-topbar-clock{
}

phosh-top-panel .phosh-topbar-date {
}

.phosh-clock-box {
  padding: 0px;
  margin: 0px; }

.phosh-topbar-button {
  padding: 12px;
  padding: 8px 8px 10px 8px;
  margin: 1px;
  border: 0px solid @fg;
  -gtk-icon-shadow: 0px 0px 1px @fg; }
.phosh-topbar-button:hover {
  color: @fg-hov;
  background-color: @bg-hov; }
.phosh-topbar-button:focus {
  box-shadow: none;
  border: none;
  outline-width: 1px;
  outline-style: dotted;
  outline-color: @fg-foc;
  outline-offset: -1px; }
.phosh-topbar-button:active:hover {
  color: @fg-sel;
  background-color: @bg-sel; }


/*
 * Home bar
 */

.phosh-osk-button {
  margin: 0px;
  padding: 8px 8px 13px 8px;
  border: none;
  color: @fg;
  background-color: @bg; }
.phosh-osk-button:focus {
  color: @fg-foc;
  background-color: @bg-foc; }
.phosh-osk-button:active {
  color: @fg-act;
  background-color: @bg-act; }
.phosh-osk-button:selected {
  color: @fg-sel;
  background-color: @bg-sel; }
/* .phosh-osk-button:hover {
  color: @fg-hov;
  background-color: @bg-hov; }
.phosh-osk-button:selected:hover,
.phosh-osk-button:active:hover {
  color: @fg-all;
  background-color: @bg-all; }
*/


/*
 * Settings menu
 */

.phosh-settings-menu {
  color: @fg;
  background-color: @bg;
  background-color: alpha(@bg, .5); 
  border: none;
}

/* .phosh-settings-menu button.circular:not(:hover):not(:active) { 
} */

.phosh-quick-setting {
  font-size: 12px;
  margin: 0px;
  padding: 10px 0px;
  color: @fg;
  background-color: transparent; }
/* .phosh-quick-setting:focus {
  outline-width: 5px;
  outline-style: dotted;
  outline-color: @fg-foc;
  outline-offset: -3px; } */
.phosh-quick-setting:hover {
  color: @fg-hov;
  background-color: @bg-hov; }
.phosh-quick-setting:disabled {
  color: @fg-dis;
  background-color: @bg-dis; }
.phosh-quick-setting:active:hover {
  color: @fg-all;
  background-color: @bg-all; }



/*
 * Overview (app grid with favories and, activities)
 */

phosh-activity {
  background-color: transparent; }

phosh-activity > widget > button {
  padding: 0px; /* EDIT */
  margin: 0px;
  color: @fg;
  background-color: @bg;
  border: 1px solid alpha(@fg, .5); }
phosh-activity > widget > button:hover {
  border: 1px solid @fg; } 
phosh-activity > widget > button:active,
phosh-activity > widget > button:selected {
  background-color: @bg-hov;
  border: 1px dotted @fg; }
phosh-activity box button {
  border: none;
  border-radius: 0; }


phosh-activity.phosh-empty {
  background-size: cover;
  background-color: transparent;
  border: 1px dashed @fg; }

/* phosh-activity.phosh-maximized .phosh-drawingarea {
  background-color: transparent;
} 

phosh-activity {
} */

phosh-home {
  color: @fg;
  background-color: alpha(@bg, .95); }


.phosh-activity-close-button {
  min-width: 30px;
  min-height: 30px;
  padding: 0;
  color: @fg;
  background-color: @bg;
  border: 1px solid @fg; }
.phosh-activity-close-button:focus {
  outline-width: 1px;
  outline-style: dotted;
  outline-color: @fg-foc;
  outline-offset: -1px;
  color: @fg-foc;
  background-color: @bg-foc; }
.phosh-activity-close-button:hover {
  box-shadow: 0px 0px 2px @fg;
  color: @fg-hov;
  background-color: @bg-hov; }
.phosh-activity-close-button:active:hover {
  color: @fg-all;
  background-color: @bg-all; }

.phosh-overview {
  background-color: @bg;
  background-color: alpha(@bg, .1); }

.phosh-favorite {
}

.phosh-favorite:hover {
}


/* Search Bar */
.phosh-search-bar-box {
  margin-top: 12px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;

  padding: 0px;
  border-style: none;
  color: @fg;
  background-color: @bg;
  background-color: transparent; }

.search {
  margin: 0px;
  padding: 0px;
  color: @fg;
  background-color: @bg; }

/* .phosh-search-bar {
  font-size: 21px;
  min-height: 10px;
  margin: 0px;
  padding: 12px;
  padding: 4px;
  border: 1px solid @fg;
  color: @fg;
  background-color: @bg; } */

.phosh-search-bar {
  border: 1px solid @fg;
  color: @fg;
  background-color: @bg; }

/* .phosh-menu-button {
  border: @fg;
  color: @fg;
  background-color: @bg; }
.phosh-menu-button:focus {
  outline-width: 1px;
  outline-style: dotted;
  outline-color: @fg;
  outline-offset: -1px; } */


phosh-app-grid {
  padding: 8px;
  transition: 100ms ease; 
  /* background-image: url('file:///home/user/Pictures/hal3.jpg'); */
  color: @fg;
  background-size: cover;
  background-position: center;
  background-color: transparent; }

phosh-app-grid separator {
  min-height: 1px;
  margin: 0px;
  padding: 0px;
  color: @fg;
  background: @fg; }


phosh-app-grid-button button {
  font-size: 0.9rem;
  margin: 0px;
  padding: 14px 8px;
  padding: 0px;
  border: none;
  color: @fg;
  background-color: transparent; }
phosh-app-grid-button focus,
phosh-app-grid-button button:focus {
  outline-width: 1px;
  outline-style: dotted;
  outline-color: @fg;
  outline-offset: -1px;
  color: @fg-foc;
  background-color: @bg-foc; }
phosh-app-grid-button hover,
phosh-app-grid-button button:hover {
  color: @fg-hov;
  background-color: @bg-hov; }
phosh-app-grid-button active:hover,
phosh-app-grid-button button:active:hover {
  color: @fg-all;
  background-color: @bg-all; }


/* .search-active phosh-app-grid-button:first-child button {
} */

/* phosh-app-grid-button image {
} */

#phosh-filter-adaptive-btn {
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* background-image: none; */
  border: 1px solid @fg; 
  color: @fg;
  background-color: @bg; }
#phosh-filter-adaptive-btn.toggle {
  color: @fg; }
#phosh-filter-adaptive-btn.toggle:active {
  color: @fg-act;
  background-color: @bg-act; }
#phosh-filter-adaptive-btn:hover {
  color: @fg-hov;
  background-color: @bg-hov; }
#phosh-filter-adaptive-btn:active:hover {
  color: @fg-all;
  background-color: @bg-all; }
#phosh-filter-adaptive-btn:focused {
  outline: 1px dotted @fg; }




/*
 * Lock screen
 */
phosh-lockscreen,
.phosh-lockshield {
  padding: 0px;
  margin: 0px;
  background-color: alpha(@bg, .l);
  color: alpha(@fg, .1);
  border: none;
}

/* Clock */
#phosh-lockscreen-clock {
  font-weight: 300;
  font-feature-settings: "tnum";
  margin: 0px 0px;
}

#phosh-lockscreen-date {
  margin: 0px 0;
  font-weight: 400;
}

.p-large #phosh-lockscreen-clock {
  font-size: 84px;
  transition: 750ms ease;
}
.p-large #phosh-lockscreen-date {
  font-size: 60px;
  transition: 750ms ease;
}

.p-small #phosh-lockscreen-clock {
  font-size: 72px;
  transition: 750ms ease;
}
.p-small #phosh-lockscreen-date {
  font-size: 16px;
  margin-top: 0;
  transition: 750ms ease;
}

/* Lockscreen Arrow */
.phosh-lockscreen-arrow {
  transition: 750ms linear;
  animation: pulsate 1.8s ease-out;
  animation-iteration-count: 15; }

.phosh-lockscreen-status-icons {
  padding: 6px; }

.phosh-lockscreen-pin {
  font-size: 10px;
  padding: 0px;
  color: @fg;
  background-color: alpha(@bg. 2);
  background: none;
  background-color: transparent; }


@keyframes pulsate {
  0% {-gtk-icon-transform: translateY(0); opacity: 0.7}
  35% {-gtk-icon-transform: translateY(-14px); opacity: 1}
  100% {-gtk-icon-transform: translateY(0); opacity: 0.7} }

phosh-keypad {
  background-color: @bg;
  padding: 0px; }

phosh-keypad label.digit {
  font-size: 200%;
  font-weight: bold;
  padding: 0px; }

phosh-keypad button {
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  font-size: 12px;
  font-weight: bold;
  padding: 0px;
  border: 1px solid alpha(@fg, .3);
  color: inherit; }
phosh-keypad button:disabled {
  opacity: 0.5; }
phosh-keypad button:focus {
  background: alpha(@phosh_fg_color, .8); }
phosh-keypad button:hover,
phosh-keypad button:focus:hover {
  box-shadow: 0px 0px 6px @fg;
  background: alpha(@phosh_fg_color, .7); }
phosh-keypad button:active,
phosh-keypad button:focus:active {
  box-shadow: 0px 0px 6px @fg;
  background: alpha(@phosh_fg_color, .8); }


.text-only-button {
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid @fg;
  color: inherit;
  background: @bg; }
.text-only-button:hover,
.text-only-button:hover:focus {
  box-shadow: 0px 0px 6px @fg;
  background: alpha(@phosh_fg_color,.25); }
.text-only-button:focus {
  background: alpha(@phosh_fg_color,.3);
  outline-style: none; }
.text-only-button:active,
.text-only-button:focus:active {
  background: alpha(@phosh_fg_color,.2); }


phosh-lockscreen cui-call-display actionbar {
  background-color: @aa;
}

phosh-lockscreen .phosh-notification-tray {
  margin: 0 6px;
  transition: 750ms ease;
}




/*
 * System modal dialogs (polkit, gcr, ...)
 */
.phosh-system-modal {
  background-color: @bg;
}

.phosh-system-modal-dialog {
  background-color: @theme_bg_color;
  border: 1px solid @fg;
  border-radius: 12px;
  box-shadow: 0px 0px 2px @fg;
  padding: 0px;
  margin: 10px;
}

.phosh-system-modal-dialog-buttons label {
  margin: 0px;
}

.phosh-system-modal-dialog-buttons button {
  border-radius: 5px;
  padding: 9px 18px;
  margin: 0px;
  border-top: 1px solid @borders;
  border-right: 1px solid @borders;
  border-left-width: 0;
  border-bottom-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
}

/* .phosh-system-modal-dialog-buttons button:highlight {
  background-color: #ff0000; 
} */

.phosh-system-modal-dialog-buttons button:first-child {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 0;
}

.phosh-system-modal-dialog-buttons button:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 11px;
  border-right: none;
}

.phosh-system-modal-dialog-content {
  padding-left:  9px;
  padding-right: 9px;
}

.phosh-system-modal-dialog-title {
  padding-top: 9px;
  font-weight: 800;
  font-size: 120%;
}

.phosh-end-session-dialog .phosh-end-session-subtitle {
  font-feature-settings: "tnum";
}

.phosh-end-session-dialog .phosh-end-session-warning {
  color: red;
  font-weight: bold;
}

.phosh-end-session-dialog list {
  border-radius: 12px;
}

.phosh-end-session-dialog list row  {
  margin-left: 6px;
  margin-right: 6px;
}

.phosh-end-session-dialog list row:first-child  {
  margin-top: 6px;
}

.phosh-end-session-dialog list row:last-child  {
  margin-bottom: 6px;
}

.phosh-end-session-dialog list row box box.vertical label:first-child {
  font-weight: bold;
}

/* Don't dim list of inhibited applications */
/* .phosh-end-session-dialog list * {
  color: @theme_text_color;
  -gtk-icon-effect: dim;
} */

phosh-gtk-mount-prompt .phosh-system-modal-dialog-content > image {
  -gtk-icon-style: symbolic;
}



/*
 * Notifications
 */

phosh-notification-content {
  background: alpha(@fg, .05);
  color: @fg;
  padding: 0;
  margin: 10px;
  padding: 10px;
  border: 1px solid alpha(@fg, .7); }
phosh-notification-content:hover {
  background: alpha(@fg, .3); }


phosh-notification-content .message-area {
/*  margin: 12px 12px 9px 12px; */
}

phosh-notification-content .message-area image {
}

/* Action Area (buttons) */
phosh-notification-content .actions-area {
  padding: 0;
}

phosh-notification-content .actions-area button {
/*  background-image: none; */
  color: @fg;
  background-color: alpha(@fg, .2);
  box-shadow: none;
  border: 1px solid @fg;
}

phosh-notification-content focus,
phosh-notification-content button:focus,
phosh-notification-content .actions-area button:focus {
  outline-width: 1px;
  outline-style: dotted;
  outline-color: @fg;
  outline-offset: -1px;
}

phosh-notification-content .actions-area button:hover {
   color: @fg-hov; 
   background-color: @bg-hov; 
}

phosh-notification-content .actions-area button:active:hover {
   color: @fg-sel; 
   background-color: @bg-sel; 
}

phosh-notification-content .actions-area button:last-child {
/* border: none; */
  /* border-bottom-width: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}

phosh-notification-frame {
  border: none;
  margin: 0;
  padding: 0;
}

phosh-notification-frame list {
  background: @bg;
}

phosh-notification-frame .header-area {
  /* padding: 12px 12px 0 12px;*/
  color: @fg;
}

phosh-notification-frame .header-area image {
  -gtk-icon-style: symbolic;
}

phosh-notification-frame .notification-container {
  background-color: @bg;
  margin: 0px;
  margin-bottom: 0;
  border: 1px solid @fg;
}


/* Banner */
phosh-notification-banner {
  background: none;
  border: none;
  padding: 6px;
}

phosh-notification-banner > phosh-notification-frame {
  padding: 0;
}

phosh-notification-banner .notification-container {
}

/* Notification Tray */
.phosh-notification-tray,
.phosh-notification-tray list {
  background: @bg;
}

.phosh-notification-tray list row {
  font-size: 14px;
}

.notification-container *:focus,
.phosh-notification-tray list row:focus {
  outline-style: none;
}

.phosh-notification-tray list row .notification-container {
  /* border: 2px solid @fg; */
  margin: 10px;
  /* margin-bottom:6px; */
}

.phosh-notification-tray list row:focus .notification-container {
  /* border-color: @theme_selected_bg_color; */
  outline-style: none;
}

.phosh-notifications-header {
  padding: 0px;
}

/* Clear notifications button */
#phosh-notifications-clear-all-btn {
  border: 1px solid @fg;
  background-color: @bg;
}

#phosh-notifications-clear-all-btn:hover {
  background-color: @bg-hov;
}

#phosh-notifications-clear-all-btn:active:hover {
  background-color: @bg-sel;
}
#phosh-notifications-clear-all-btn:focus {
  outline-width: 1px;
  outline-style: dotted;
  outline-color: @bg;
  outline-offset: -1px;
}

/*
 * Output fader
 */
@keyframes phosh-fader-default-keyframe {
  from {background:rgba(0, 0, 0, 0);}
  to {background:rgba(0, 0, 0, 1);}
}

.phosh-fader-default-fade {
  animation-name: phosh-fader-default-keyframe;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Fader used for proximity dimming */
.phosh-fader-proximity-fade {
  animation-name: phosh-fader-default-keyframe;
  animation-duration: 750ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Fader used for screenshot flash */
@keyframes phosh-fader-flash-keyframe {
  from {background:rgba(255, 255, 255, 1);}
  to {background:rgba(255, 255, 255, 0);}
}

.phosh-fader-flash-fade {
  animation-name: phosh-fader-flash-keyframe;
  animation-duration: 750ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.phosh-fader-screenshot-opaque {
  background: rgba(255, 255, 255, 0);
}

/*
 * Media player
 */
phosh-media-player {
  background: @phosh_notification_bg_color;
  color: @phosh_fg_color;
  border-radius: 12px;
  border:none;
  box-shadow: none;
  padding: 6px;
  padding-bottom: 0;
}

phosh-media-player button {
  background: @phosh_notification_bg_color;
  color: inherit;
  border: none;
  border-radius: 0;
  outline-style: none;
  opacity: 0.5;
}

phosh-media-player button:active {
  background-color: rgba(255,255,255,.2);
}

phosh-media-player .media-player-details {
  border-radius: 8px;
  padding-left: 4px;
}

/* The details button should not look inactive even when disabled */
phosh-media-player .media-player-details *:disabled {
  color: @theme_fg_color;
  -gtk-icon-effect: none;
}

phosh-media-player .phosh-media-player-art {
  margin: 0;
  padding: 0;
  border-radius: 3px;
}

phosh-media-player > box > button {
  border-radius: 9999px;
  -gtk-icon-shadow: none;
  margin: 2px;
  padding: 8px;
}

/* The Lockscreen */
phosh-lockscreen phosh-media-player {
  margin: 0 8px;
}


/*
 * OSD
 */

#osd-bubble {
  border: 1px solid @fg;
  border-radius: 15px;
  box-shadow: 0px 0px 2px @fg; 
  background-color: @bg;
  padding: 10px; 
}

#osd-label {
  font-size: 24pt;
}

phosh-osd-window.phosh-system-modal {
  background: none;
}

phosh-osd-window levelbar block {
  min-height: 4px;
  box-shadow: none;
  border: none;
  border-radius: 2px;
}

phosh-osd-window levelbar block.low {
  background-color: @fg;
}

phosh-osd-window levelbar block.high {
  background-color: @fg;
}

phosh-osd-window levelbar block.full {
  background-color: @fg;
}

phosh-osd-window levelbar trough {
  border: none;
  padding: 10px;
  box-shadow: none;
  background-color: alpha(@fg, 0.1);
  border-radius: 5px;
}

/*
 * Splash
 */

phosh-splash {
  color: @fg;
  background-color: alpha(@bg, .85);
}

.phosh-dropicon-shadow {
  -gtk-icon-shadow: 0px 0px 8px @fg; 
}

/*
 * GTK Overrides
 */



/* TWEAKS-END phosh-panel-btn-space */
sq_view {
    color: @bg;
    background-color: alpha(@bg, .5);
    color: alpha(@bg, .5);
    font-size: 25px;
}

sq_view, sq_button {
  font-size: 1.25em;
  box-shadow: 0px 0px 2px @fg;
  color: @fg;
  background-color: alpha(@bg, .5);
  border: 1px solid @fg;
  margin: 0px;
  padding: 0px;
}

sq_view.wide, sq_button {
  padding: 1px;
}

sq_button:active, sq_button.altline:active, sq_button.wide:active, sq_button.special:active {
  box-shadow: 0px 0px 6px @fg;
  background: alpha(@fg, 0.6);
  border-color: @fg;
}

sq_button:hover, sq_button.altline:hover, sq_button.wide:hover, sq_button.special:hover {
    background-color: alpha(@fg, 0.3);
}


sq_button.wide {
    background-color: alpha(@fg, 0.15); 
}

sq_button.special {
    background-color: alpha(@fg, 0.03); 
}

sq_button.altline {
    background-color: alpha(@fg, 0.05); 
}

sq_button.latched {
    background: @bg-act;
    color: @bg; 
}

sq_button.locked {
    background: @bg-sel;
    color: @bg;
}

/* sq_button.action {
    font-size: 1.25em;
} */

sq_button.small {
    font-size: 0.8em;
}

#Return {
    background: alpha(@fg, .3);
    border-color: @borders;
}

#Return:active {
    background: alpha(@fg, 0.6);
    border-color: @borders;
}


